/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

body {
  display: grid;
  grid-template-rows: 1fr 6fr auto;
}

* {
  border: 1px solid blue;
}


/* HEADER */
header {
  display: grid;
  align-items: end;
  justify-content: center;
  font-size: 3em;
}

/* MAIN */

#main-container {
  justify-self: center;
  align-self: center;
  width: 40%;
  height: 90%;
}

#game-board {
  display: grid;
  height: 85%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#player-choice {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
}

#player-choice button {
  letter-spacing: 1px;
}
















/* FOOTER */
footer {
  font-size: 1.1rem;
  display: grid;
  justify-content: center;
  background-color: #d1d5db;
  letter-spacing: 1px;
  }

footer > a {
  display: grid;
  grid-auto-flow: column;
  width: 295px;
  align-items: end;
  text-decoration: none;
  }

